<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--过滤器的先后顺序由servletmapping决定-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>wx.filter.encodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>login_required</filter-name>
        <filter-class>wx.filter.login_required</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login_required</filter-name>
        <url-pattern>/*Bill</url-pattern>
    </filter-mapping>
   <filter-mapping>
       <filter-name>login_required</filter-name>
       <url-pattern>/Info</url-pattern>
   </filter-mapping>
    <filter-mapping>
        <filter-name>login_required</filter-name>
        <url-pattern>/*con*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login_required</filter-name>
        <url-pattern>/graph</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login_required</filter-name>
        <url-pattern>/setTeam</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>wx.controller.personal.authenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addBill</servlet-name>
        <servlet-class>wx.controller.personal.addBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBill</servlet-name>
        <url-pattern>/addBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBill</servlet-name>
        <servlet-class>wx.controller.personal.getBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBill</servlet-name>
        <url-pattern>/getBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>wx.controller.personal.Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delBill</servlet-name>
        <servlet-class>wx.controller.personal.delBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delBill</servlet-name>
        <url-pattern>/delBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editBill</servlet-name>
        <servlet-class>wx.controller.personal.editBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editBill</servlet-name>
        <url-pattern>/editBill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Graph</servlet-name>
        <servlet-class>wx.controller.personal.Graph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Graph</servlet-name>
        <url-pattern>/graph</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>operateIcon</servlet-name>
        <servlet-class>wx.controller.personal.iconOperation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>operateIcon</servlet-name>
        <url-pattern>/iconOperation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getIcon</servlet-name>
        <servlet-class>wx.controller.personal.getIcon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getIcon</servlet-name>
        <url-pattern>/getIcon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getBadge</servlet-name>
        <servlet-class>wx.controller.personal.getBadge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBadge</servlet-name>
        <url-pattern>/getBadge</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addBadge</servlet-name>
        <servlet-class>wx.controller.personal.userBadge</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBadge</servlet-name>
        <url-pattern>/addBadge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addTeamBill</servlet-name>
        <servlet-class>wx.controller.team.delTeamBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTeamBill</servlet-name>
        <url-pattern>/addTeamBill</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delTeamBill</servlet-name>
        <servlet-class>wx.controller.team.delTeamBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delTeamBill</servlet-name>
        <url-pattern>/defTeamBill</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editTeamBill</servlet-name>
        <servlet-class>wx.controller.team.editTeamBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editTeamBill</servlet-name>
        <url-pattern>/editTeamBill</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getInfo</servlet-name>
        <servlet-class>wx.controller.team.getInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getInfo</servlet-name>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getTeam</servlet-name>
        <servlet-class>wx.controller.team.getTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTeam</servlet-name>
        <url-pattern>/getTeam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getTeamBill</servlet-name>
        <servlet-class>wx.controller.team.getTeamBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTeamBill</servlet-name>
        <url-pattern>/getTeamBill</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getTeamMember</servlet-name>
        <servlet-class>wx.controller.team.getTeamBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTeamMember</servlet-name>
        <url-pattern>/getTeamMember</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>joinTeam</servlet-name>
        <servlet-class>wx.controller.team.joinTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>joinTeam</servlet-name>
        <url-pattern>/joinTeam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>leaveTeam</servlet-name>
        <servlet-class>wx.controller.team.leaveTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>leaveTeam</servlet-name>
        <url-pattern>/leaveTeam</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>setTeam</servlet-name>
        <servlet-class>wx.controller.team.setTeam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setTeam</servlet-name>
        <url-pattern>/setTeam</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>